<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .form-elements {
            margin-bottom: 28px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>

<body>

    <!-- form -->

    <form>

        <div class="form-elements">

            <label for="firstName">First Name</label>
            <input required type="text" name="firstName" id="firstName">

        </div>

        <div class="form-elements">
            <label for="lastName">last Name</label>
            <input required type="text" name="lastName" id="lastName">

        </div>

        <div class="form-elements">
            <label for="DOB">Date of birth</label>
            <input required type="date" name="DOB" id="dob">

        </div>


        <div class="form-elements">
            <label for="email" required>Email</label>
            <input required type="email" name="email" id="email">

        </div>


        <div class="form-elements">
            <label for="adress">Address</label>

            <input required placeholder="city" type="address" id="city">
            <input required placeholder="state" type="address" id="state">
            <input required placeholder="country" type="address" id="country">

        </div>

        <div class="form-elements">

            <label for="zipCode">ZIP code:</label>
            <input type="number" name="zipCode" id="zipCode">

        </div>

        <div class="form-elements">



        </div>




    </form>
    <button onclick="formLoad()">submit</button>


    <script>

 function formLoad(){
       var formCredentials = {

        firstName : document.getElementById("firstName").value,
            lastName : document.getElementById("lastName").value,
            DOB : document.getElementById("dob").value,
            formEmail : document.getElementById("email").value,
            city : document.getElementById("city").value,
            state : document.getElementById("state").value,
            country : document.getElementById("country").value,
            zipCode : document.getElementById("zipCode").value

       }
       console.log(formCredentials)
    }

      

        //form validation


        // function update() {

        //     var firstName, lastName, DOB, formEmail, city

        //         , state, country, zipCode;

        //     firstName = document.getElementById("firstName").value;
        //     lastName = document.getElementById("lastName").value;
        //     DOB = document.getElementById("dob").value;
        //     formEmail = document.getElementById("email").value;
        //     city = document.getElementById("city").value;
        //     state = document.getElementById("state").value;
        //     country = document.getElementById("country").value;
        //     zipCode = document.getElementById("zipCode").value;

        //     console.log(firstName, lastName, DOB, formEmail, city

        //         , state, country, zipCode)


        // }

   
     
         




// specify index of elements to delete

        function arraydeleter(num) {
            var cars = ["suzuki", "hundai", "skoda", "BMW", "volvo"]

            if (num > 4) {
                console.log("greater then the array length")

            } else {
               
                console.log(cars)
                cars.splice(num, 1)

                console.log(cars)

            }

        }

        // function call

        arraydeleter(4)







        var games = ["cricket", "hockey", "football", "golf", "basketball", "vollyball"]

        console.log(games)

        games.splice(2, 2)
        console.log(games)
    </script>

</body>

</html>